# Generic
*.orig
*.mine
*.bak
*.log
*.gz
*.pem

# Java
out/
build/
classes/
eclipse-classes/
.classpath
.project
.settings/
target/
generated/
version.txt

# Node
node_modules/
.pnp/
.pnp.js
coverage/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts

# Intellij
.idea/
*.swp
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml

# VS Code
.vscode/
*.code-workspace
.factorypath

# OS
Session.vim
.DS_Store
