<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<main layout:fragment="content" class="container" role="main">
    <div class="jumbotron">
        <h1 th:text="#{login.page.title}"></h1>
    </div>
    <div class="w-50">
        <form class="login-form" method="post" th:action="@{/login}">
            <p>
                <label for="username" class="sr-only" th:text="#{login.label.username}"></label>
                <input type="text" id="username" name="username" class="form-control" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only" th:text="#{login.label.password}"></label>
                <input type="password" id="password" name="password" class="form-control" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button.login}"></button>
        </form>
    </div>
    <div>
        <ul th:each="user : ${users}">
            <li th:text="${user.firstName} ${user.lastName}"/>
        </ul>
    </div>
</main>
</body>
</html>